__pycache__/*
pystore/__pycache__/*
dist
PyStore.egg-info
*.pyc
.DS_Store
/.vscode
/build
*.egg
*.eggs
*.egg-info
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
.tox
.nox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.idea/
.vscode/
*.swp
*.swo
*~
